services:
  mc:
    image: itzg/minecraft-server
    environment:
      EULA: true
      MODPACK_PLATFORM: AUTO_CURSEFORGE
      # Allocate API key from https://console.curseforge.com/
      # and set in .env file making sure to double up dollar signs, such as
      # CF_API_KEY=$$2a$$10$$....
      # Refer to https://docker-minecraft-server.readthedocs.io/en/latest/types-and-platforms/mod-platforms/auto-curseforge/#api-key
      CF_API_KEY: ${CF_API_KEY}
      CF_PAGE_URL: https://www.curseforge.com/minecraft/modpacks/better-mc-neoforge-bmc5/files/7449464
     #  CF_SLUG: better-mc-neoforge-bmc5
     #  CF_FILE_ID: "7449688"
      DIFFICULTY: normal
      MODE: survival
      ENABLE_WHITELIST: true
      MEMORY: 6G
    volumes:
      - mc:/data
    ports:
      - "25565:25565"

volumes:
  mc: {}
